@using System.Data
@{
    ViewBag.Title = "ProductDeletePage";
}
<style>
    a{
        cursor:pointer;
    }
</style>


<div class="container">
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#" style="font-size:28px">Product Delete Page</a>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/MaawinTradingPages/ProductAddPage">Product Add Page</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" id="srctxt">
                    <button class="btn btn-outline-danger my-2 my-sm-0" id="logout">Log Out</button>
                </form>
            </div>
        </nav>
    </div>
    <div>
        <table class="table display" style="background-color:red;margin-top:20px;color:white;width:100%" id="tabls" hidden>
            @if (ViewBag.Data != null)
            {
                int i = 0;
                <thead class="">
                    <tr>
                        @foreach (DataColumn column in (ViewBag.Data as System.Data.DataTable).Columns)
                        {
                            <th name="@column.ColumnName.ToUpper()">@column.ColumnName.ToUpper()</th>
                        }
                        <td style="font-weight:bold;font-size:14px;padding-bottom:0px"><label>ACTIONS</label></td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if ((ViewBag.Data as System.Data.DataTable).Rows.Count > 0)
                        {
                            foreach (DataRow dr in (ViewBag.Data as System.Data.DataTable).Rows)
                            {
                                <tr id="row_@i">
                                    @foreach (DataColumn column in (ViewBag.Data as System.Data.DataTable).Columns)
                                    {
                                        <td data-title='@column.ColumnName'>@dr[column].ToString()</td>
                                    }
                                    <td><a class="delBut"><i class="fa fa-trash-o" style="color:red;font-size:20px"></i></a></td>
                                </tr>
                                i++;
                            }
                        }
                        else
                        {
                            int count = (ViewBag.Data as System.Data.DataTable).Columns.Count;
                            <tr>
                                <td colspan='@count' style="color:red;">
                                    No Data Found.
                                </td>
                            </tr>
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        @foreach (DataColumn column in (ViewBag.Data as System.Data.DataTable).Columns)
                        {
                            <th></th>
                        }
                    </tr>
                </tfoot>
                        }
                        else
                        {
                            if (ViewBag.Error != null)
                            {
                                <tr>
                                    <td style="color:red;">
                                        @(ViewBag.Error != null ? ViewBag.Error.ToString() : "")
                                    </td>
                                </tr>
                            }
                        }
        </table>
        <table class="table display" style="background-color:white;margin-top:20px;color:black;width:100%" id="tabs">
            @if (ViewBag.Data != null)
            {
                int i = 0;
                <thead class="">
                    <tr>
                        @foreach (DataColumn column in (ViewBag.Data as System.Data.DataTable).Columns)
                        {
                            <th name="@column.ColumnName.ToUpper()">@column.ColumnName.ToUpper()</th>
                        }
                        <td style="font-weight:bold;font-size:14px;padding-bottom:0px"><label>ACTIONS</label></td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if ((ViewBag.Data as System.Data.DataTable).Rows.Count > 0)
                        {
                            foreach (DataRow dr in (ViewBag.Data as System.Data.DataTable).Rows)
                            {
                                <tr id="row_@i">
                                    @foreach (DataColumn column in (ViewBag.Data as System.Data.DataTable).Columns)
                                    {
                                        <td data-title='@column.ColumnName'>@dr[column].ToString()</td>
                                    }
                                    <td><a class="delBut"><i class="fa fa-trash-o" style="color:red;font-size:20px"></i></a></td>
                                </tr>
                                i++;
                            }
                        }
                        else
                        {
                            int count = (ViewBag.Data as System.Data.DataTable).Columns.Count;
                            <tr>
                                <td colspan='@count' style="color:red;">
                                    No Data Found.
                                </td>
                            </tr>
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        @foreach (DataColumn column in (ViewBag.Data as System.Data.DataTable).Columns)
                        {
                            <th></th>
                        }
                    </tr>
                </tfoot>
                        }
                        else
                        {
                            if (ViewBag.Error != null)
                            {
                                <tr>
                                    <td style="color:red;">
                                        @(ViewBag.Error != null ? ViewBag.Error.ToString() : "")
                                    </td>
                                </tr>
                            }
                        }
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#logout").on('click', function () {
            $.ajax({
                url: '/MaawinTradingPages/Logout',
                type: 'GET',
                data: {
               
                },
                success: function () {
                    location.reload(true);
                },
                error: function (data) {
                    alert("error");
                }
            });
        });
        $("#srctxt").on('change', function () {
            debugger;
            var txt = $("#srctxt").val();
            if (txt == "") {
                location.reload(true);
            }
            else {
                var ht = "";
                $("#tabls >tbody > tr > td ").each(function () {
                    debugger;
                    var currr = $(this).text();
                    var x = $(this).attr('data-title');
                    if (x != undefined) {
                        x = x.toUpperCase();
                        var yap = $(this).parentsUntil('tbody').html();
                        if (x == 'NAME') {
                            if (currr.indexOf(txt) != -1) {
                                ht += "<tr>" + yap + "</tr>";
                            }
                        }
                    }
                });
                $("#tabs > tbody").html(ht);
            }
        });
        $("#tabs").on('click', 'a', function () {
            debugger;
            var prent = $(this).parentsUntil('tbody');
            var prdName = $(prent).find("td:first").text();
            $.ajax({
                url: '/MaawinTradingPages/DeleteProduct',
                type: 'POST',
                data: {
                    name: prdName
                },
                success: function () {
                    location.reload(true);
                },
                error: function (data) {
                    alert("error");
                }
            });
        });
    });
</script>